<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Filters</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <div class="item item-divider">
                    Conditions
                </div>
                <ion-checkbox ng-repeat="item in featuresConditionsList" ng-model="item.checked" ng-checked="item.checked" class="item-checkbox-right">
                    {{ item.text }}
                </ion-checkbox>


                <!-- <div class="item item-divider">
                    Sort by
                </div>
                <div class="item item-custom">
                    <div class="button-bar">
                        <a class="button button-custom">
                      Relevance
                    </a>
                        <a class="button button-custom">
                      Distance
                    </a>
                        <a class="button button-custom">
                      Rating
                    </a>
                    </div>
                </div> -->
            </div>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>