<ion-view view-title="Hot Happy Hours !!" >

  <ion-content 
     
      >
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="refresh"
      >
      
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="happyhour in happyhours.happyhours" 
      			class="item-thumbnail-left"
      			href="#/app/happyhours/{{happyhour.id}}"
      			>
      		<img ng-src={{happyhour.img}}>
  			<h2>{{happyhour.title}}</h2>  
  			<p>{{happyhour.place}}</p>      
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
